@model DoAn.Models.TblProduct

@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xoá sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Xoá sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Product delete card -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Xoá sản phẩm: @Html.DisplayFor(m => m.Name)</h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <p class="text-center text-warning">
                                <strong>Cảnh báo!</strong> Bạn chắc chắn muốn xoá sản phẩm này? Thao tác này không thể khôi phục lại được.
                            </p>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Tên sản phẩm:</label>
                                <p>@Html.DisplayFor(Model => Model.Name)</p>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Mô tả:</label>
                                <p>@Html.DisplayFor(Model => Model.Decription)</p>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Giá:</label>
                                <p>@Html.DisplayFor(Model => Model.Price)</p>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Khuyến mãi:</label>
                                <p>@Html.DisplayFor(Model => Model.PromotionPrice)</p>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Ảnh:</label>
                                <p>@Html.DisplayFor(Model => Model.Image)</p>
                            </div>

                            <form asp-action="Delete" method="post">
                                <input type="hidden" asp-for="ProductId"/>
                                <div class="text-center">
                                    <input type="submit" value="Xoá sản phẩm" class="btn btn-danger btn-lg" />
                                    <a asp-action="Index" class="btn btn-secondary btn-lg">Quay lại</a>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
